@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

.service-main {
  padding: 50px;
  background-color: #edf0f3;
  font-family: "Space Grotesk", sans-serif;
}

.service-title {
  margin-top: 50px;
  display: grid;
  text-align: center;
}
.service-title h2 {
  font-size: 18px;
  color: #0e33cb;
  text-transform: uppercase;
}
.service-title h1 {
  margin-top: 10px;
  font-size: 48px;
  font-weight: bold;
  color: #121d50;
  text-transform: uppercase;
}

.box-service img {
  display: flex;
  justify-content: flex-start;
  width: 70px;
  height: 70px;
}
.service-box {
  display: grid;
  grid-template-columns: repeat(3, 450px);
  justify-content: center;
  gap: 50px;
}

.box-service {
  width: 50%px;
  height: 300px;
  margin-top: 70px;
  background: #fff;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  transition: 0.6s ease;
  color: #121D50;
}
.box-service:hover {
  background-color: #121d50;
  color: #fff;
  cursor: pointer;
}


.box-service h1{
    margin-top: 20px;
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
}

.box-service p{
    margin-top: 20px;
    font-size: 16px;
    color: #5C6C7B;
    display: flex;
    justify-content: start;
}