.NavLink{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavLink h1{
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
  color: #FFFFFF;
  text-transform: uppercase;
}

.Nav-link ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.Nav-link li {
  position: relative;
}

.Nav-link a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  transition: 0.5s;
  cursor: pointer;
}

/* Hover effekt */
.Nav-link a:hover {
  color: #EC4621;
}

/* Pastdan chiziq animatsiya */
.Nav-link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: #EC4621;
  transition: 0.5s;
}

.Nav-link a:hover::after {
  width: 100%;
}