:root {
  --text: #667085;
  --text-h: #0a1945;
  --bg: #fff;
  --primary: #254bdb;

  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--text);
  background-color: var(--bg);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0;
  text-align: left;
}

h1,
h2,
h3 {
  color: var(--text-h);
  margin: 0;
}